.cards{
    display: flex;
    justify-content: space-between}
    .card-title1 {
        color: green;
    }
    .card-title2 {
        color: gold;
    }
    .card-title2 {
        color: midnightblue;
    }
    

div {
    div {
        .card-body {
            background-color: rgba(128, 128, 128, 0.548);
        }
        
        
    }
}
